html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}
a {
  color: #000;
}

:root {
  --font-size-lg: 16px;
  --font-size-md: 2rem;
  --font-size-sm: 1.25rem;
}

@font-face {
  font-family: "Cafe24Ssurround";
  font-size: 14px;
  src: url(./assets/fonts/Cafe24Ssurround.ttf);
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url(./assets/fonts/Pretendard-Bold.otf);
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url(./assets/fonts/Pretendard-Medium.otf);
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url(./assets/fonts/Pretendard-Regular.otf);
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url(./assets/fonts/Pretendard-SemiBold.otf);
}
@font-face {
  font-family: "NotoSansKR-Black";
  src: url(./assets/fonts/NotoSansKR-Black.otf);
}
@font-face {
  font-family: "NotoSansKR-Bold";
  src: url(./assets/fonts/NotoSansKR-Bold.otf);
}
@font-face {
  font-family: "NotoSansKR-Light";
  src: url(./fonts/NotoSansKR-Light.otf);
}
@font-face {
  font-family: "NotoSansKR-Medium";
  src: url(./assets/fonts/NotoSansKR-Medium.otf);
}
@font-face {
  font-family: "NotoSansKR-Regular";
  src: url(./assets/fonts/NotoSansKR-Regular.otf);
}
@font-face {
  font-family: "NotoSansKR-Thin";
  src: url(./assets/fonts/NotoSansKR-Thin.otf);
}

.pc-logo {
  background: url(./assets/images/logo.png) center no-repeat;
  text-indent: -9999px;
  width: 95px;
  height: 60px;
  background-size: 100%;
}

.checkinput:checked {
  background-color: #fff;
}

.checkinput:checked::after {
  content: "\2713";
  color: #ff8f50;
  font-size: 16px;
  position: absolute;
  left: 4px;
}
.loginform label.passwordlabel {
  position: relative;
}
.loginform label.passwordlabel span {
  top: -8px;
  right: 12px;
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  background: url(./assets/images/visible.png) center no-repeat;
  cursor: pointer;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.pt-50 {
  padding-top: 50px;
}
.fade-in {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.sectionTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}
.subTitle {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 39px;
  color: #555555;
}

.paperBg {
  background: url(./assets/images/paper.svg) center;
  height: 110px;
}

/* 취향 */

.favoriteTitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  margin-bottom: 20px;
}
.favoriteSubTitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #dddddd;
}

/* import comedyImg from "../assets/images/comedyimg.png";
import minteryImg from "../assets/images/minteryimg.png";
import romanceImg from "../assets/images/romance_img.png";
import actionImg from "../assets/images/action_img.png";
import pantasyImg from "../assets/images/pantasy_img.png"; */
.favoriteIconBox .icon1 {
  background: url(./assets/images/pantasy_img.png) center no-repeat;
}
.favoriteIconBox .icon2 {
  background: url(./assets/images/action_img.png) center no-repeat;
}
.favoriteIconBox .icon3 {
  background: url(./assets/images/romance_img.png) center no-repeat;
}
.favoriteIconBox .icon4 {
  background: url(./assets/images/minteryimg.png) center no-repeat;
}
.favoriteIconBox .icon5 {
  background: url(./assets/images/comedyimg.png) center no-repeat;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
